body {
    font-family: 'Poppins', sans-serif;
    background-color: #202125;
    color: #fff;
    margin: 0;
}

.bars-container {
    display: flex;
    justify-content: space-between;
    margin: 320px 50px;
}

#donut-1, #donut-2, #donut-3 {
    width: 350px;
    margin: 10px;
    position: relative;
}

#donut-1 > #donut-number, #donut-2 > #donut-number-2, #donut-3 > #donut-number-3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 400;
}